.header-container {
  background-color: #0893d2;
}
.inst-link {
  text-decoration: none;
  color: #ffffff;
}

.head-icons {
  margin-top: 1%;
}

/* Style The Dropdown Button */
.dropbtnLink {
    background-color: #0893d2;
    border: 0;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdownLink {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownLink-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 290px;
    box-shadow: 5px 8px 16px 10px rgba(10,0,3,0.2);
    z-index: 98;
    border-left: 2px;
}

/* Links inside the dropdown */
.dropdownLink-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownLink-content {
    right: 0;
}

/* Change color of dropdown links on hover */
.dropdownLink-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdownLink:hover .dropdownLink-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownLink:hover .dropbtnLink {
    /*background-color: red;*/
}

.externalLink {
  text-align: center;
  font-size: 18px;
  cursor: none;
}

.openLinks {
  color: white;
  text-align: center;
  font-size: 17px;
  border: 5;
  background-color: #0893d1;
}
